conn/CardService_v8_2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===================================================================== -->
<!-- 	                    Copyright (C) 2024 gematik. Alle Rechte vorbehalten.                                 -->
<!-- ===================================================================== -->
<!-- Version History
            version: V8.2.0 
            * Operationen SecureSendAPDU, StartCardSession, StopCardSession hinzugefügt 
            version: V8.1.2
            * EnablePin, DisablePin ergänzt
            version: V8.1.1 
            * Operation AuthorizeSMC entfernt 
              (kompatible Änderung aus Sicht des Clientsystems, da AuthorizeSMC immer mit einem Fehler geantwortet hat)
            version: V8.1.0
            * Anpassungen in CardService.xsd
            * Operation AuthorizeSMC ergänzt
     End of Version History-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CARD="http://ws.gematik.de/conn/CardService/v8.2" xmlns:CARDW="http://ws.gematik.de/conn/CardService/WSDL/v8.2" xmlns:CCTX="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" targetNamespace="http://ws.gematik.de/conn/CardService/WSDL/v8.2">
    <documentation>
        Copyright (c) 2017, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
        Beschreibung: Dienst zur Verwaltung der Karten
    </documentation>
    <types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema">
            <xs:import schemaLocation="CardService_v8_2_0.xsd" namespace="http://ws.gematik.de/conn/CardService/v8.2"/>
            <xs:import schemaLocation="ConnectorContext.xsd" namespace="http://ws.gematik.de/conn/ConnectorContext/v2.0"/>
            <xs:import schemaLocation="../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0"/>
        </xs:schema>
    </types>
    <message name="VerifyPinRequestMessage">
        <part name="parameter" element="CARD:VerifyPin"/>
    </message>
    <message name="VerifyPinResponseMessage">
        <part name="parameter" element="CARD:VerifyPinResponse"/>
    </message>
    <message name="ChangePinRequestMessage">
        <part name="parameter" element="CARD:ChangePin"/>
    </message>
    <message name="ChangePinResponseMessage">
        <part name="parameter" element="CARD:ChangePinResponse"/>
    </message>
    <message name="UnblockPinRequestMessage">
        <part name="parameter" element="CARD:UnblockPin"/>
    </message>
    <message name="UnblockPinResponseMessage">
        <part name="parameter" element="CARD:UnblockPinResponse"/>
    </message>
    <message name="GetPinStatusRequestMessage">
        <part name="parameter" element="CARD:GetPinStatus"/>
    </message>
    <message name="GetPinStatusResponseMessage">
        <part name="parameter" element="CARD:GetPinStatusResponse"/>
    </message>
    <message name="EnablePinRequestMessage">
        <part name="parameter" element="CARD:EnablePin"/>
    </message>
    <message name="EnablePinResponseMessage">
        <part name="parameter" element="CARD:EnablePinResponse"/>
    </message>
    <message name="DisablePinRequestMessage">
        <part name="parameter" element="CARD:DisablePin"/>
    </message>
    <message name="DisablePinResponseMessage">
        <part name="parameter" element="CARD:DisablePinResponse"/>
    </message>
    <message name="SecureSendAPDURequestMessage">
        <part name="parameter" element="CARD:SecureSendAPDU"/>
    </message>
    <message name="SecureSendAPDUResponseMessage">
        <part name="parameter" element="CARD:SecureSendAPDUResponse"/>
    </message>
    <message name="StartCardSessionRequestMessage">
        <part name="parameter" element="CARD:StartCardSession"/>
    </message>
    <message name="StartCardSessionResponseMessage">
        <part name="parameter" element="CARD:StartCardSessionResponse"/>
    </message>
    <message name="StopCardSessionRequestMessage">
        <part name="parameter" element="CARD:StopCardSession"/>
    </message>
    <message name="StopCardSessionResponseMessage">
        <part name="parameter" element="CARD:StopCardSessionResponse"/>
    </message>
    <message name="FaultMessage">
        <part name="parameter" element="GERROR:Error"/>
    </message>
    <portType name="CardServicePortType">
        <operation name="VerifyPin">
            <input message="CARDW:VerifyPinRequestMessage"/>
            <output message="CARDW:VerifyPinResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
        <operation name="ChangePin">
            <input message="CARDW:ChangePinRequestMessage"/>
            <output message="CARDW:ChangePinResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
        <operation name="UnblockPin">
            <input message="CARDW:UnblockPinRequestMessage"/>
            <output message="CARDW:UnblockPinResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
        <operation name="GetPinStatus">
            <input message="CARDW:GetPinStatusRequestMessage"/>
            <output message="CARDW:GetPinStatusResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
        <operation name="EnablePin">
            <input message="CARDW:EnablePinRequestMessage"/>
            <output message="CARDW:EnablePinResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
        <operation name="DisablePin">
            <input message="CARDW:DisablePinRequestMessage"/>
            <output message="CARDW:DisablePinResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
        <operation name="SecureSendAPDU">
            <input message="CARDW:SecureSendAPDURequestMessage"/>
            <output message="CARDW:SecureSendAPDUResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
        <operation name="StartCardSession">
            <input message="CARDW:StartCardSessionRequestMessage"/>
            <output message="CARDW:StartCardSessionResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
        <operation name="StopCardSession">
            <input message="CARDW:StopCardSessionRequestMessage"/>
            <output message="CARDW:StopCardSessionResponseMessage"/>
            <fault name="FaultMessage" message="CARDW:FaultMessage"/>
        </operation>
    </portType>
    <binding name="CardServiceBinding" type="CARDW:CardServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="VerifyPin">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#VerifyPin"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="ChangePin">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#ChangePin"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="UnblockPin">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#UnblockPin"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="GetPinStatus">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#GetPinStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="EnablePin">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#EnablePin"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="DisablePin">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#DisablePin"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="SecureSendAPDU">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#SecureSendAPDU"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="StartCardSession">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#StartCardSession"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="StopCardSession">
            <soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.2#StopCardSession"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="CardService">
        <port name="CardServicePort" binding="CARDW:CardServiceBinding">
            <soap:address location="http://ti-konnektor/cardservice"/>
        </port>
    </service>
</definitions>
